*{
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
}
body{
    background: #ddd;
}
.chat_wrap{
    background: #fff;
    max-width: 400px;
    margin: 30px auto;
    position: relative;
    border-radius: 4px;
    height: 530px;
    overflow: hidden;
}
.chat_main{
    height: 450px;
    padding: 20px;
    overflow: auto;
}
.chat_input{
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rebeccapurple;
    overflow: auto;
    padding: 10px 20px;
    overflow: hidden;
    line-height: 30px;
}
.chat_input span{
    width: 100%;
    /*line-height: 50px;*/
    padding: 0;
    background: rebeccapurple;
    color: #fff;
    /*padding: 0 20px;*/
    font-size: 14px;
    white-space: nowrap;
}
.chat_input input{
    width: 100%;
    height: 50px;
    border: 0;
    display: block;
    padding: 0;
    background: rebeccapurple;
    color: #fff;
    padding: 0 20px;
    font-size: 14px;
}
.chat_row {
    position: relative;
    min-height: 50px;
    margin-bottom: 15px;
}
.chat_row:last-child {
    margin-bottom: 0;
}
.chat_pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transform: scale(0.5);
    transition: 0.3s;
}
.chat_pic img{
    width: 100%;
    height: auto;
    display: block;
}
.chat_text{
    padding-left: 70px;
}
.chat_text_main{
    background: rgba(0,0,0,0.05);
    padding: 7px;
    display: none;
    transform: scale(0.8);
    transition: 0.3s;
    transform-origin: left bottom;
}
.chat_row.chat_other .chat_text_main{
    transform-origin: right bottom;
}
.chat_text_main p{
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin: 0;
}
.chat_row.chat_other .chat_pic{
    right: 0;
    left: auto;
}
.chat_row.chat_other .chat_text{
    padding-left: 0px;
    padding-right: 70px;
}
.typing_gif{
    height: 30px;
    padding: 0 20px;
    display: none;
}
.typing_gif img{
    height: 25px;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}